.introduction-container {
    text-align: center;
    display: flex;
    justify-content: center;
    // min-height: 50px;

    .attribution {
        // vertical-align: bottom;
        position: absolute;
        bottom: -0vh;
        margin-bottom: 10px;
    }

    // .noBottomMargin {
    //     margin-bottom: 0;
    // }

    // .noMargin {
    //     margin: 0;
    // }

    // .noTopMargin {
    //     margin-top: 0;
    // }
}
