.markSelector-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: $xs-size 0;

    // .mark-container {
    //     text-align: center;
    //     padding: $s-size 0;
    //     margin: $xs-size 0;
    //     width: 100%;
    // }

    a {
        @include border;
        text-align: center;
        padding: $s-size 0;
        margin: $xs-size 0;

        text-decoration: none;
        width: 100%;
    }

    a:hover {
        color: $orange-tan;
        @include box-shadow-orange;
    }
}

@media only screen and (min-device-width: $desktop-breakpoint) {
    .markSelector-container {
        justify-content: space-evenly;

        // .mark-container {
        //     flex: 0 0 48%;
        //     margin: $s-size 0;
        // }

        a {
            // @include border;
            // padding: $s-size;
            // margin: $xs-size;
            width: 47%;
        }
    }
}
