.newContinue-container {
    display: flex;
    justify-content: center;
    margin-top: $m-size;
    margin-bottom: $m-size;

    .newContinue-link {
        text-align: center;
        min-width: 25%;
        padding: $s-size 0;
    }

    a {
        margin: $xs-size;
        padding: $xs-size;
        // outline: auto;
        @include border;
    }

    a:visited {
        @include border;
    }

    @media only screen and (min-device-width: $desktop-breakpoint) {
        // margin-top: $l-size;
        // margin-bottom: $m-size;

        .newContinue-link {
            text-align: center;
            min-width: 50%;
        }

        a {
            margin: $s-size;
            padding: $s-size;
            text-decoration: none;
        }

        // a:visited {

        // }
    }
}
