.newContinue-container {
    display: flex;
    justify-content: center;
    margin-top: $s-size;
    margin-bottom: $s-size;

    .newContinue-link {
        text-align: center;
        min-width: 25%;
        // padding: $s-size 0;
    }

    a {
        margin: 0;
        padding: 0;
        text-align: center;
        // @include border;
    }

    // a:hover {
    //     @include box-shadow-orange;
    // }

    // a:visited {
    //     @include border;
    // }



    @media only screen and (min-device-width: $tiny-breakpoint) {
        a {
            margin: $xs-size;
            padding: $xs-size;
            @include border;
        }
    
        a:hover {
            @include box-shadow-orange;
        }
    
        a:visited {
            @include border;
        }

        .newContinue-link {
            text-align: center;
            min-width: 25%;
            padding: $s-size 0;
        }

    }



    @media only screen and (min-device-width: $desktop-breakpoint) {

        .newContinue-link {
            text-align: center;
            min-width: 50%;
        }

        a {
            margin: $s-size;
            padding: $s-size;
            text-decoration: none;
        }
    }
}
